[submodule "altera-linux"]
	path = altera-linux
	url = ../altera-linux
[submodule "buildroot-rootfs"]
	path = buildroot-rootfs
	url = ../busybox-rootfs
[submodule "altera-uboot"]
	path = altera-uboot
	url = ../altera-uboot
[submodule "altera-linux-rt"]
	path = altera-linux-rt
	url = ../altera-linux
	branch = rt
